################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/x64/Debug
/.vs/TerrainModule/v15
/Data
/include
/packages/boost.1.72.0.0
